/*********************
* SEARCH BAR AND SEARCH RESULTS
**********************/

.search-bar {
   height: 38px;
   border: 0;
   border-bottom: 1px solid rgb(210, 210, 210);
   padding: 0 10px 0px 30px;

   width: 0px;
   float: right;
   background: transparent url("../img/search-24.png") no-repeat center;
   color: white;
   font-size: 20px;
   font-weight: 100;
   font-family: "Roboto", "LF_RobotoThin", sans-serif;
   transition: all .24s ease-in-out;
}
.search-bar:focus {
   width: 400px !important;
   transition: width 1.24s ease-out;
   /* border-top: 0; */
   /* border-radius: 0; */
   /* border-left: 0; */
   /* border-right: 0; */
   background-position: left;
   border-color: #2A8CFA;
   cursor: text !important;
}
.search .actionbutton.close-button {
   top: 10px;
   right: 10px;
   width: 16px;
   height: 16px;
   background-size: 16px;
   background-position: center;
}

.search {
   height: 0;
   width: 960px;
   margin: 0 auto;
   /* background: black; */
   position: relative;
   /* left: 25%; */
   /* right: 25%; */
   z-index: 9;
   display: none;
}
.result {
   width: 380px;
   height: auto;
   background: rgba(255, 255, 255, 1);
   margin: 0 auto;
   transition: height 1.24s ease-out;
   padding: 30px;
   /* overflow: auto; */
   /* height: 0; */
   /* padding: 0; */
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
   /* border-radius: 0 0 10px 10px; */
   right: 9px;
   position: absolute;
}
.search-list {
   list-style: none;
}
.search-element {
   border-bottom: solid 1px rgba(234, 234, 234, 0.27);
   height: 70px;
   padding: 5px 0 0 5px;
   cursor: pointer;
}
.search-element:hover {
   border-left: 3px solid #2a8cfa;
   background: linear-gradient(to right, rgba(226, 226, 226, 0.41), transparent);
   margin-left: -3px;
}
.search-element:hover .name {
   color: #2a8cfa;
}
.search-element.last {
   border-bottom: none;
   /* margin-bottom: -10px; */
}
.search-element img {
   float: left;
   width: 60px;
   height: 60px;
   border-radius: 100%;
   border: 1px solid #aaa;
   margin-top: 2px;
   margin-left: 5px;
}
.search-element .name {
   color: #898989;
   font-family: "LF_RobotoLight", sans-serif;
   display: block;
   padding-left: 90px;
   font-size: 18px;
   padding-top: 10px;
}
.search-element .role {
   display: block;
   padding-left: 90px;
   color: rgb(184, 184, 184);
   font-family: "LF_RobotoLight", sans-serif;
   font-size: 16px;
}
.search-element h1 {
   display: none;
}

.show-more {
   font-size: 15px;
   margin: 0;
   text-align: right;
   position: absolute;
   right: 30px;
   bottom: 6px;
   color: #D2D2D2;
   font-family: Roboto;
   vertical-align: middle;
   font-weight: 400;   
}

.show-more:hover {
   color: #2a8cfa;
   cursor: pointer;
}

.nothing-wasfound {
   color: rgb(137, 137, 137);
}
